html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

.wrapper {
  width: 100%;
}

.fb-login-button {
  text-align: center;
  margin: 0 auto 20px;
  width: 100%;
}

#map {
  height: 500px;
  width: 70%;
  margin: 0 auto; 
}